[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pailey
[access "refs/for/refs/*"]
	read = group user/pailey
	push = group user/pailey
	label-Code-Review = -2..+2 group user/pailey
	label-Verified = -1..+1 group user/pailey
	rebase = group user/pailey
	removeReviewer = group user/pailey
	submit = group user/pailey
[access "refs/heads/*"]
	read = group user/pailey
	create = group user/pailey
	push = +force group user/pailey
	pushMerge = group user/pailey
[access "refs/tags/*"]
	push = +force group user/pailey
	pushTag = group user/pailey
	pushSignedTag = group user/pailey
